# Environment
.env
.env.*.local

package-lock.json


# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / build
coverage/
dist/
